<div style="margin-top: 100px;" class="container">
    <div class="row"> 
        <div class="col object">
            <a routerLink="license">
                <i class="bi bi-key icons"></i>
                <h4>Licenses</h4>
            </a>
        </div>
        <div class="col object">
            <a routerLink="client">
                <i class="bi bi-people-fill icons"></i>
                <h4>Clients</h4>
            </a>

        </div>
        <div class="col object">
            <a routerLink="product">
                <i class="bi bi-box-seam icons"></i>
                <h4>Products</h4>
            </a>
        </div>
    </div>
</div>